nav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

nav a {
    color: white !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

.nav-btn {
    background: #cc0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: grab;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-btn:hover {
    background: #990000;
}

.nav-btn-sound {
    background: transparent;
    border: 3px solid #00ff00;
    color: #00ff00;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: grab;
    font-size: 1.2rem;
    font-weight: bold;
}
